/* --------- Stylesheets  #B9D3EE   incorporation --------- */
@import url("content.css");
@import url("forms.css");
@import url("templates.css");
@import url("blocks.css");

* {
	margin: 0;
	padding: 0;
}
/* --------- Layout --------- */
html {
	
	font-family:  Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	line-height: normal;
	margin: 0;
	padding: 0;
	background: #575757 ;
		
		
}
body {
	font-family: Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: normal;
	unicode-bidi: embed;
	width: 920px;
	margin: 0 auto;
	background: #575757 url("../img/content.png") repeat-y top;

	
}





#xo-canvas {
	background: url("../img/live.png") no-repeat;
	width: 920px;
	margin: 0 auto;
}
#xo-canvas-content {
    
	
	
}

	
	
		
	
}
#xo-page {
	padding-top: 1px;   background: transparent;

	
}
/* --------- Header --------- */
#xo-header {
	
	height: 137px;
	
}


/* --- Logo --- */
#xo-header img.logo {
	float:	left; 
	padding-left:40px;
	padding-top:15px;
} 
.xo-header-Border {
	margin: 0px 10px;
	
}
/* --------- Navigation menu --------- */


#xo-navheader {
	height: 25px;
	float: left; 
	width: 920px;
	
	font-family: Segoe UI,Tahoma,Arial,Helvetica,sans-serif;
	line-height: 1.2em;
	font-weight: bold; 
	padding: 1px 0px 0px 155px;
	font-size: 1.1em;
	
}
#xo-navheader a:hover{height: 25px;background:url("../img/hoverm.png") no-repeat bottom;
	
	color: ;
	text-decoration: none;
}

#xo-navheader li{
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
}
#xo-navheader a{
	float: left;
	margin: 0;
	padding: 0 0  0 10px; 
	text-decoration: none;
	
	
	
}
#xo-navheader a span{
	display: block;
	padding: 6px 12px  4px 4px; 
	font-weight: bold; 
	
}


/*--- Top Blocks ---*/
#xo-top-shadow {
	
	height: 10px;
	
}

	
/*============== Styles pour l'include userbar.html =================*/
#xo-userbar {
	height: 32px;
	text-align: left;
	float: right;
	padding: 15px 0 0 20px;
	padding-right:20px;
	padding-top:50px;

}


.xo-userbar form {
	display:							inline;
	padding:							0px;
}
.xo-userbar button {
	margin: 							0px -3px;
	border:							0px none;
	padding:							0px;
	background:						transparent none;
}
.xo-userbar button img {
	width: 							20px;
	height: 						20px;
}
.xo-userbar img {
	width: 							20px;
	height: 						20px;
}
.xo-userbar input {
	color: 							black;
	font-size: 						1.2em;
	background-color: 			inherit;
}

.xo-userbar a {
	color: 							#FF4500;
	
	text-decoration: 				none;
	background-color: 			inherit;
	
	font-weight:					bold;
}
.xo-uname {
	color: 							#87af7b;
	font-size:						1.6em;
	font-weight:					bold;
	background: 					inherit;
}


.xo-userbar{
	height: 32px;
	text-align: left;
	float: right;
	padding: 15px 0 0 20px;
	padding-right:20px;
	padding-top:50px;
}



/* --------- Content module page --------- */
#xo-content {
  padding : 8px;
  text-align : justify;
    
}

/* --------- Footer --------- */
#xo-footer {  
	
	background-color: transparent;
	background: url("../img/footer.png") no-repeat center bottom;
	width: 920px;
	height:90px;
	margin:0 auto;
	
}


.xo-foottext{
	font-size: 1.1em;
	color: #808080;
	padding: 0px 30px;
	vertical-align: middle;
	text-align: center;	
	
	padding-top:33px;
}
.xo-foottext a{
	color: #A020F0;
	text-decoration: none;
}
.xo-foottext a:hover{
	color: #2771BA;
	text-decoration: underline;
}



/* --------- Block main menu --------- */
#mainmenu {
	font-size : 1.1em;
	
	padding-bottom:20px;
	
}
#mainmenu a {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: .8em; 
	font-weight:					bold;
	color:#8B0A50;
	
}
#mainmenu a:hover {background:url("../img/hoverm.png") no-repeat }
#mainmenu a.menuTop {
padding-left: 15px;


}
#mainmenu a.menuMain {
padding-left: 15px;
font-size: .8em; 
	 font-weight:					bold;


}
#mainmenu a.menuSub {
  padding-left: 20px; color:#575757 ;
  font-size: .7em;
}
#mainmenu a.menuSub:hover {}

/* --------- Block user menu --------- */
#usermenu {
font-size: .9em; 
padding-left: 15px;

padding-bottom:20px;
}
#usermenu a {
  display: block;
  margin: 0; 
  padding: 4px;
}
#usermenu a:hover {}
#usermenu a.menuTop {}
#usermenu a.highlight {background-color: #fcc;}

.rss { float: right; padding: 5px 5px 0 0;}
.rss a:hover {	text-decoration: none;}




